<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.huso.yemegim">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Yemegim">
        <activity android:name=".onayislemlerisayfasi"></activity>
        <activity android:name=".aldiklarimsayfasi" />
        <activity android:name=".urunlersayfasi" />
        <activity android:name=".profilduzenlemesayfasi" />
        <activity android:name=".paraeklesayfasi" />
        <activity android:name=".anasayfa" />
        <activity android:name=".kayitolsayfasi" />
        <activity android:name=".kullanicigirisi">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>